__pycache__
.pytest_cache

**/config.yml
**/experiments.yml
.vscode/settings.json
**/cloudclient/Pipfile.lock
**/cloudclient/output/**
**/cloudclient.egg-info
.cloudclient
build
**/config/.cloudclient_location.yml
src/cloudclient/config/.cloudclient_location.yml
